@import "./vars";

body.app-layout {
  padding-top: 60px;
  padding-left: 250px;
  min-height: 100vh;
  background-color: $gray-100;

  @include media-breakpoint-down(md) {
    transition: padding 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    padding-left: 0;
  }
}

@import "./components/app-header";
@import "./components/app-sidebar";
