@import "./vars";

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: url('/img/background.jpg');
}

.auth-layout {
  .form-control {
    border-width: 2px;
    color: $dark;
    &:not(:focus) {
      border-color: $gray-400;
    }
  }
}
