.app-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: $zindex-header;
  display: block;
  width: 100%;
  background-color: $white;
  box-shadow: $box-shadow-sm;

  &__wrapper {
    display: flex;
  }

  &__left {
    width: 250px;
    padding: 10px 0;
    background-color: $gray-800;
    @include media-breakpoint-down(md) {
      width: auto;
      background-color: $white;
    }
    .wrapper {
      display: flex;
    }
    .brand {
      display: block;
      height: 40px;
      margin: auto 0;
      text-decoration: none;
      color: $gray-200;
      &:hover {
        color: $white;
      }
      @include media-breakpoint-down(md) {
        color: $primary;
        &:hover {
          color: $color-primary-800;
        }
      }
      span {
        display: block;
        margin: auto 0;
        font-weight: $font-weight-bold;
        &.first {
          padding-right: 5px;
          line-height: 22px;
          font-size: 18px;
          letter-spacing: 2px;
        }
        &.last {
          line-height: 18px;
          font-size: 13px;
        }
      }
    }
  }

  &__right {
    width: calc(100% - 250px);
    height: 60px;
    @include media-breakpoint-down(md) {
      width: auto;
      margin-left: auto;
    }

    .wrapper {
      display: flex;
    }

    .quick-actions {
      padding: 10px 0;
      @include media-breakpoint-down(md) {
        display: none;
      }

      .nav-item {
        padding-right: 5px;
      }

      .nav-link {
        height: 40px;
        font-size: 13px;
        font-weight: $font-weight-bold;
        color: $gray-500;
        line-height: 40px;
        padding: 0 15px;
        border-radius: $border-radius;

        &.active,
        &:hover {
          color: $primary;
          background-color: $color-primary-100;
        }
      }
    }
    .user-actions {
      margin-left: auto;
      padding: 10px 0;

      .btn-action {
        position: relative;
        margin: 5px 10px 5px 0;
        width: 30px;
        height: 30px;
        padding: 0;
        line-height: 30px;
        border: none;
        border-radius: 50%;
        background-color: $color-primary-100;
        color: $primary;
        font-size: 14px;
        .label {
          display: block;
          position: absolute;
          top: -2px;
          right: -2px;
          height: 16px;
          min-width: 16px;
          font-size: 10px;
          padding: 2px;
          font-weight: 500;
          line-height: 12px;
          background-color: $danger;
          border-radius: 9px;
          color: $white;
          &:empty {
            display: none;
          }
        }

        &.sidebar-toggle {
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
    }
  }
}
