.sidebar-open .app-sidebar {
  @include media-breakpoint-down(md) {
    .app-sidebar__backdrop {
      pointer-events: initial;
      opacity: 1;
    }
    .app-sidebar__wrapper {
      transform: translateX(0%);
    }
  }
}

.app-sidebar {
  &__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($black, 0.5);
    z-index: $zindex-header + 10;
    opacity: 0;
    pointer-events: none;
    @include media-breakpoint-down(md) {
      transition: opacity 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }

  &__wrapper {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: $zindex-header - 10;
    background-color: darken($gray-800, 3);

    @include media-breakpoint-down(md) {
      transition: transform 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      z-index: $zindex-header + 15;
      transform: translateX(-100%);
    }
  }

  &__header {
    background-color: $gray-800;
    .wrapper {
      padding: 10px 0;
      display: flex;
    }
    .brand {
      display: block;
      height: 40px;
      margin: auto 0;
      text-decoration: none;
      color: $gray-200;
      &:hover {
        color: $white;
      }
      span {
        display: block;
        margin: auto 0;
        font-weight: $font-weight-bold;
        &.first {
          padding-right: 5px;
          line-height: 22px;
          font-size: 18px;
          letter-spacing: 2px;
        }
        &.last {
          line-height: 18px;
          font-size: 13px;
        }
      }
    }
    .btn-sidebar {
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 16px;
      border: none;
      padding: 0;
      margin-left: auto;
      color: $gray-400;
      &:hover {
        color: $gray-200;
      }
    }
  }

  &__scroll {
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    @include perfect-scrollbar-ver-size(4px);
    @include perfect-scrollbar-skin($gray-400);
    .ps__rail-y {
      left: auto !important;
      right: 0 !important;
      z-index: 20;
    }
    .ps__scrollbar-x-rail {
      display: none;
    }
    .app-sidebar__scroll-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-y: hidden !important;
      @include media-breakpoint-down(md) {
        overflow-y: auto !important;
      }
    }
  }

  .list-group {
    padding: ($spacer / 2) 0;
    margin: 0;
  }
  .list-group:empty {
    display: none !important;
  }

  .list-group-item {
    border-radius: 0;
    border: 0;
    position: relative;
    font-weight: $font-weight-bold;
    font-size: 13px;
    color: $gray-300;
    background-color: darken($gray-800, 3);

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -6px;
      height: 22px;
      width: 5px;
      border-radius: 5px;
      background-color: $primary;
      transition: left 150ms ease-in-out;
    }

    &:hover,
    &:focus,
    &.active {
      background-color: darken($gray-800, 4) !important;
      color: $primary !important;
      &::before {
        left: 0;
      }
    }
  }
}
