<template>
  <div class="panel border-0 media-list" :title="original_name">
    <a class="thumb-wrapper" href="#" @click="openBox">
      <img :src="thumb" alt="" class="img-fluid">
      <i v-if="video" class="icon wb-play"></i>
      <span>{{ size }}</span>
    </a>
    <p class="m-0 px-2 py-1 small text-truncate text-black">{{original_name}}</p>
    <div v-if="video && open">
      <video controls preload="auto" :src="media" :style="{display: 'none'}" :id="media"></video>
    </div>
    <div class="p-2 media-list-item">
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    thumb: String,
    media: String,
    size: String,
    original_name: String,
    video: Boolean
  },
  data() {
    return {
      open: false,
      showMenu: false,
    }
  },
  methods: {
    openBox(e) {
      e.preventDefault();
      this.open = true
      $.fancybox.open({
        src: this.media,
        type: this.video ? 'video' : 'image',
        opts : {
          afterClose : () => {
            this.open = false
          }
        }
      })
    }
  },
}
</script>

<style lang="scss">
@import "resources/sass/_vars.scss";
  .media-list {
    position: relative;
    &:hover {
      z-index: 2;
      .media-list-item {
        display: block;
      }
    }
    .media-list-item {
      display: none;
      position: absolute;
      z-index: 10;
      width: 100%;
      background: #fff;
      @include media-breakpoint-down(md) {
        display: block;
        position: relative;
      }
    }

    .thumb-wrapper{
      i {
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        background-color: rgba(0,0,0,.8);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-80%);
      }

      span {
        display: block;
        position: absolute;
        top: 3px;
        left: 3px;
        padding: 3px;
        background-color: $primary;
        color: $white;
        line-height: 1;
        font-size: 9px;
        font-weight: $font-weight-bold;
      }
    }
  }
</style>
