// fonts
$font-weight-override: true;
$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-base: $font-weight-normal;
$headings-font-weight: $font-weight-medium;

// shadow
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($black, .175) !default;


@import "./mixins";
